body {
	font-family:
		Arial,
		sans serif;
	line-height: 1.6;
	background-color: f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	background-color: fff;
	padding: 20px;
	border-radius: 5;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
	width: 400px;
}
form {
	width: 100%;
}

form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
form input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid ccc;
	border-radius: 4px;
}
form button {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: 333;
	color: fff;
	cursor: pointer;
}

.invalid {
	background-color: red;
	background-color: ffe6e6;
}
.valid {
	border-color: green;
	background-color: e6ffe6;
}
.error-message {
	color: red;
	font-weight: bold;
	font-size: 0.8rem;
	margin-top: -10px;
	margin-bottom: 10px;
}
@media screen and(max-width:420px) {
	.container {
		width: 90%;
	}
}
